<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="File" fileName="C:\Users\utyfd\IdeaProjects\TestFrameworkFromScatch\Part_7_Logging_Framework_Log4j\logs\prints.log" filePattern="C:\Users\utyfd\IdeaProjects\TestFrameworkFromScatch\Part_7_Logging_Framework_Log4j\logs\prints.log/prints-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="500"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>


    <Loggers>
        <Logger name="alpha.Demo_1" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>

<!--
Where to Log ? -Appenders Tag Console / File
What to Log ? - Loggers
How to Log ? - Appenders Tag Console/File


additivity - in order to avoid repetition logs into file


-->